{{#each ideas}}
<div class="card card-body mb-4">
    <h4>{{ this.idea }}</h4>
    <p>{{ this.details }}</p>
    <div class="">
        <a class="btn w-25 btn-warning" href="/ideas/edit/{{ this._id }}"> Edit</a>
        <a class="btn w-25 btn-danger delete" href="/ideas/delete/{{ this._id }}"> Delete</a>
    </div>
</div>
{{else}}
<div class="card card-body mb-4">
    <h4>No Ideas Saved Yet!</h4>
</div>
{{/each}}
<div class="modal fade" id="deleteConfirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure to delete the Idea?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="finalDelete" type="button" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>